---
import Arrow from '../components/arrow.astro'
import Base from '../components/base.astro'
import NotebookNumber from '../components/notebook-number.astro'
import NotebookPage from '../components/notebook-page.astro'
import PageCount from '../components/page-count.astro'
import { formatFullDate } from '../util/dates'
import { NotebookInfo, getAllNotebooks, getAllPages } from '../util/notebooks'

export async function getStaticPaths() {
	const notebooks = getAllNotebooks()
	return notebooks.map(notebook => {
		return {
			params: { notebook: notebook.index },
			props: { notebook: notebook },
		}
	})
}

const { notebook } = Astro.props as { notebook: NotebookInfo}

const pages = getAllPages(notebook)
const totalPages = pages.length
---

<Base>
	<div class="container">
		<header>
			<NotebookNumber number={notebook.index}/>
			<p>
				{notebook.started.location}<br>
				{formatFullDate(notebook.started.date)}
			</p>
			<Arrow/>
			<p>
				{notebook.completed.location}<br>
				{formatFullDate(notebook.completed.date)}
			</p>
			<PageCount min={0} max={totalPages-1}/>
		</header>
		<main>
			{
				pages.map((page, i) => {
					return <NotebookPage
						page={page}
						index={i}
						isFirst={i == 0}
						isLast={i == totalPages-1}
					/>
				})
			}
		</main>
	</div>
</Base>

<style>
	.container
	{
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		min-height: calc(90vh);
	}

	header
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		line-height: 1.33;

		margin: 0 auto;
		width: 885px;
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 30px;
	}

	@media (max-width: 690px)
	{
		header
		{
			font-size: 0.9rem;
			gap: 20px;
		}
	}
</style>