---
import Arrow from '../components/arrow.astro'
import Base from '../components/base.astro'
import Logo from '../components/logo.astro'
import NotebookCover from '../components/notebook-cover.astro'
import SortButton from '../components/sort-button.astro'
import { formatShortDate } from '../util/dates'
import { getAllNotebooks } from '../util/notebooks'

const notebooks = getAllNotebooks()
---

<Base>
	<header>
		<Logo/>
		<SortButton sortElementId="all-notebooks"/>
	</header>
	<ol id="all-notebooks" reversed>
	{
		notebooks.reverse().map(notebook =>
			<li>
				<a href={`./${notebook.index}`}>
					<NotebookCover
						index={notebook.index}
						folder={notebook.folderName}
						gloss={notebook.gloss}
					/>
					<p class="date-range">
						<span>
							{formatShortDate(notebook.started.date)}
						</span>
						<Arrow/>
						<span>
							{formatShortDate(notebook.completed.date)}
						</span>
					</p>
				</a>
			</li>
		)
	}
	</ol>
</Base>

<style>
	header, ol
	{
		list-style: none;
		padding: 20px 150px;
		margin: 0 auto 100px;

		display: grid;
		grid-template-columns: repeat(auto-fill, 220px);
		justify-content: center;
  		align-content: center;
		gap: 40px 80px;
	}

	header
	{
		margin-top: 60px;
		margin-bottom: 0px;
		row-gap: 0px !important;
	}

	a
	{
		text-decoration: none;
		color: currentColor;
		outline: none;
	}

	p.date-range
	{
		display: flex;
		flex-direction: row;
		gap: 0.2ch;
		align-items: center;
		justify-content: center;

		min-width: max-content;
		margin: 10px 0 0;

		font-size: 0.9rem;
		line-height: 1.5;
		text-transform: uppercase;
		transition: opacity 0.1s ease;
	}

	@media (max-width: 1400px)
	{
		header, ol
		{
			padding: 20px 50px;
		}
	}

	@media (max-width: 1000px)
	{
		header, ol
		{
			padding: 20px 20px;
			grid-template-columns: repeat(auto-fill, 200px);
			gap: 40px 50px;
		}
	}

	@media (max-width: 500px)
	{
		ol
		{
			grid-template-columns: repeat(auto-fill, 220px);
		}

		header
		{
			display: block;
			margin-top: 20px;
		}
	}
</style>